@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
body,
html {
  height: 100%;
}
body a,
html a {
  text-decoration: none;
}
body input,
html input {
  -webkit-appearance: none;
}
img,
fieldset,
a img {
  border: none;
}
input[type="submit"],
button {
  cursor: pointer;
}
input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
input,
button {
  margin: 0;
  padding: 0;
  border: 0;
}
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
a:focus {
  outline: none;
}
div {
  outline: none !important;
}
* {
  outline: none !important;
}
ul,
ol {
  list-style-type: none;
}
img {
  vertical-align: top;
}
li {
  list-style: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  * {
    -webkit-text-size-adjust: none;
  }
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
.clear {
  clear: both;
}
@font-face {
  font-family: Gilroy;
  src: url("../shared/Gilroy-ExtraBold.eot");
  src: url("../shared/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../shared/Gilroy-ExtraBold.woff") format("woff"), url("../shared/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Gilroy;
  src: url("../shared/Gilroy-Light.eot");
  src: url("../shared/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../shared/Gilroy-Light.woff") format("woff"), url("../shared/Gilroy-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-weight: 300;
}
body {
  font-family: Gilroy;
}
* {
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
}
#page {
  width: 1024px;
  height: 768px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.bb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-m {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(149, 197, 185, 0.5);
  height: 48px;
  *zoom: 1;
}
.main-m:after {
  content: " ";
  display: table;
  clear: both;
}
.main-m li {
  float: left;
  width: 14.28%;
  text-align: center;
}
.main-m li:last-child {
  overflow: hidden;
  width: auto;
  float: none;
}
.main-m li a {
  display: block;
  color: #000000;
  font-family: Gilroy;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}
.main-m li a span {
  display: table-cell;
  width: 170px;
  vertical-align: middle;
  height: 48px;
}
.main-m li.ac a {
  background: #ffffff;
}
.bold16 {
  font-size: 16px;
  font-weight: 800;
}
.bold18 {
  font-size: 18px;
  font-weight: 800;
}
.bold32 {
  font-size: 32px;
  font-weight: 800;
}
.bold24 {
  font-size: 24px;
  font-weight: 800;
}
.bold14 {
  font-size: 14px;
  font-weight: 800;
}
.bold22 {
  font-size: 22px;
  font-weight: 800;
}
.bold48 {
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 7px;
}
.light16 {
  font-size: 16px;
}
.light18 {
  font-size: 18px;
}
.light20 {
  font-size: 20px;
}
.light22 {
  font-size: 22px;
}
.light24 {
  font-size: 24px;
}
.light28 {
  font-size: 28px;
}
.light32 {
  font-size: 32px;
}
.green {
  color: #7fc6aa;
}
.violet {
  color: #959595;
}
.grey {
  color: #74c3b0;
}
.blue {
  color: #007982;
}
.l-gold {
  color: #f4c087;
}
.x,
.pr-x {
  height: 101px;
  width: 100px;
  cursor: pointer;
}
.arrow {
  font-size: 32px;
  color: #007982;
}

.sld1 {
  /* background-image: url("../images/1/bg.jpg"); */
  }

  .sld1 .text1 {
    position: absolute;
    top: 455px;
    left: 518px;
    text-transform: uppercase;
  }
  .sld1 .text1 .light24 {
    margin-top: -6px;
    letter-spacing: 0.1em;
  }
  .sld1 .text1 .light20 {
    margin-top: 25px;
    white-space: nowrap;
    text-transform: none;
  }
  .sld1 .plus {
    background-image: url("../images/1/plus.png");
    height: 64px;
    width: 64px;
    cursor: pointer;
    position: absolute;
    top: 543px;
    left: 437px;
  }
  .sld1 .s1,
  .sld2 .s1 {
    /* display: none; */
    background-image: url("../images/1/bg2.jpg");
    z-index: 2;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .sld1 .s1 input[type=range] {
    position: relative;
    margin-left: 550px;
    margin-top: 380px;
    -webkit-appearance: none;
    width: 570px;
    border-radius: 30px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    overflow: hidden;
  }
  .sld1 .s1 input[type=range]:focus {
    outline: none;
  }
  .sld1 .s1 input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 39px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    border-radius: 30px;
    border: 2px solid #bce3d8;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset;
  }
  .sld1 .s1 input[type=range]::-webkit-slider-thumb {
    position: relative;
    z-index: 10;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -2px;
    background-image: url('../images/1/handle.png');
  }
  .sld1 .s1 .light18,
  .sld2 .s1 .light18 {
    position: absolute;
    top: 90px;
    left: 50px;
    letter-spacing: 0.08em;
  }
  .sld1 .s1 .title1,
  .sld2 .s1 .title1 {
    position: absolute;
    top: 115px;
    left: 50px;
    text-transform: uppercase;
  }
  .sld1 .s1 .list,
  .sld2 .s1 .list {
    position: absolute;
    top: 240px;
    left: 65px;
    width: 270px;
    text-transform: uppercase;
  }
  .sld1 .s1 .list .li1,
  .sld2 .s1 .list .li1 {
    position: absolute;
    top: 5px;
    left: 0;
  }
  .sld1 .s1 .list .li2,
  .sld2 .s1 .list .li2 {
    position: absolute;
    top: 165px;
    left: 0;
  }
  .sld1 .s1 .list .li3,
  .sld2 .s1 .list .li3 {
    position: absolute;
    top: 345px;
    left: 0;
  }
  .sld1 .s1 .scale {
    position: absolute;
    top: 128px;
    right: 139px;
    width: 74px;
    height: 535px;
    background-image: url('../images/1/scale.png');
  }

  .sld1 .s1 .range-plus {
    display: none;
    position: absolute;
    z-index: 10;
    right: 143px;
    width: 92px;
    height: 92px;
    background-image: url('../images/1/range-plus.png');
    background-position: center center;
    background-size: 80%;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .sld2 .s1 .lotion {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 454px;
    height: 600px;
    background-image: url('../images/1/lotion.png');
  }
  .sld2 .s1 .title2 {
    position: absolute;
    top: 42px;
    left: 50px;
    letter-spacing: 0.08em;
  }
  .sld2 .s1 .title2 .light18 {
    position: static;
    margin: 0;
    margin-top: 12px;
  }

  .sld3 .text1,
  .sld3 .text1,
  .sld4 .text1,
  .sld5 .text1,
  .sld5 .text1,
  .sld7 .text1 {
    position: absolute;
    top: 37px;
    left: 48px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  .sld3 .s0 .text1 .light22,
  .sld4 .s0 .text1 .light22,
  .sld5 .text1 .light22,
  .sld5 .text1 .light22,
  .sld7 .text1 .light22 {
    color: #565656;
  }
  
  .sld3 .s0 .text1 .light22,
  .sld4 .s0 .text1 .light22,
  .sld5 .s0 .text1 .light22,
  .sld5 .s0 .text1 .light22,
  .sld7 .s0 .text1 .light22 {
    margin-top: 16px;
  }

  .sld3 .s0 {
    background-image: url('../images/4/bg.jpg');
  }
  .sld3 .s0 .list {
    position: absolute;
    top: 285px;
    left: 390px;
    width: 520px;
  }
  .sld3 .s0 .list li {
    margin-bottom: 55px;
    line-height: 1.2em;
    letter-spacing: 0.07em;
  }
  .sld3 .s0 .lotion {
    position: absolute;
    top: 210px;
    left: -5px;
    width: 419px;
    height: 559px;
    background-image: url('../images/4/lotion.png');
    animation-duration: 2s;
  }

  .sld4 .s0 {
    background-image: url('../images/5/bg.jpg');
  }
  .sld4 .s0 .text1 .light18 {
    line-height: 1.2em;
    margin-top: 15px;
  }
  .sld4 .s0 .blocks {
    position: absolute;
    top: 400px;
    left: 48px;
    width: 928px;
    height: 315px;
  }
  .sld4 .s0 .blocks .block {
    position: absolute;
    top: 0;
    text-align: center;
  }
  .sld4 .s0 .blocks .block-1 {
    left: 0px;
  }
  .sld4 .s0 .blocks .block-2 {
    left: 317px;
  }
  .sld4 .s0 .blocks .block-3 {
    left: 650px;
  }
  .sld4 .s0 .blocks .block .title{
    transform: translateY(0);
    transition: 0.6s;
  }
  .sld4 .s0 .blocks .label {
    position: relative;
    height: 63px;
    margin-top: 10px;
    transition: 0.6s;
  }
  .sld4 .s0 .blocks .label-1,
  .sld4 .s0 .blocks .label-3 {
    width: 279px;
    background-image: url('../images/5/label-m.png');
  }
  .sld4 .s0 .blocks .label-2 {
    width: 296px;
    background-image: url('../images/5/label-b.png');
  }
  .sld4 .s0 .blocks .label .sub {
    padding-top: 10px;
  }
  .sld4 .s0 .blocks .block .arrow {
    position: absolute;
    bottom: -31px;
    left: 114px;
    width: 62px;
    height: 62px;
    background-image: url('../images/5/arrow.png');
    background-size: contain;
    cursor: pointer;
    transform: rotate(0);
    transition: 0.6s;
  }
  .sld4 .s0 .blocks .block-wide .title {
    transform: translateY(-31px);
    transition: 0.6s;
  }
  .sld4 .s0 .blocks .block-wide .label {
    transform: translateY(-31px);
    height: 258px;
    transition: 0.6s;
  }
  .sld4 .s0 .blocks .block-wide .label-1,
  .sld4 .s0 .blocks .block-wide .label-3 {
    background-image: url('../images/5/label-1.png');
  }
  .sld4 .s0 .blocks .block-wide .label-2 {
    background-image: url('../images/5/label-2.png');
  }
  .sld4 .s0 .blocks .block-wide .arrow {
    transform: rotate(180deg);
    transition: 0.6s;
  }


  .sld5 .s0 {
    background-image: url('../images/6/bg.jpg');
  }
  .sld5 .text1 .light22,
  .sld5 .text1 .light22 {
    letter-spacing: 0.05em;
  }
  .sld5 .s0 .items {
    position: absolute;
    left: 48px;
    top: 185px;
    width: 928px;
    height: 450px;
  }
  .sld5 .s0 .items .item {
    position: absolute;
    top: 0;
    height: 454px;
  }
  .sld5 .s0 .items .item-1{
    width: 175px;
    left: 58px;
  }
  .sld5 .s0 .items .item-2 {
    width: 180px;
    left: 370px;
  }
  .sld5 .s0 .items .item-3 {
    width: 220px;
    left: 650px;
  }
  .sld5 .s0 .item .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 60px;
  }
  .sld5 .s0 .item-3 .title {
    left: 20px;
  }
  .sld5 .s0 .item .title .number {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 72px;
    color: #a1a1a1;
  }
  .sld5 .s0 .item .title .ttl-t {
    position: absolute;
    letter-spacing: 0.12em;
  }
  .sld5 .s0 .item-1 .title .ttl-t {
    left: 32px;
    top: 18px;
  }
  .sld5 .s0 .item-2 .title .ttl-t {
    left: 48px;
    top: 25px;
  }
  .sld5 .s0 .item-3 .title .ttl-t {
    left: 50px;
    top: 18px;
  }
  .sld5 .s0 .items .item .image {
    position: absolute;
  }
  .sld5 .s0 .items .item-1 .image-1 {
    left: 32px;
    top: 83px;
    width: 112px;
    height: 348px;
    background-image: url('../images/6/green-bottle.png');
  }
  .sld5 .s0 .items .item-2 .image-2 {
    left: 46px;
    top: 130px;
    width: 92px;
    height: 305px;
    background-image: url('../images/6/lotion.png');
  }
  .sld5 .s0 .items .item-3 .image-3 {
    left: 18px;
    top: 109px;
    width: 191px;
    height: 382px;
    background-image: url('../images/6/black-bottles.png');
  }
  .sld5 .s0 .items .item .text {
    position: absolute;
    
    bottom: 0;
    text-align: center;
    white-space: nowrap;
  }
  .sld5 .s0 .items .item-1 .text {
    left: 20px;
  }
  .sld5 .s0 .items .item-2 .text {
    left: 9px;
  }
  .sld5 .s0 .items .item-3 .text-l {
    left: 0px;
    text-align: right;
  }
  .sld5 .s0 .items .item-3 .text-r {
    right: 0px;
    text-align: left;
  }
  .sld5 .s0 .sub {
    position: absolute;
    left: 48px;
    top: 673px;
    font-size: 12px;
  }
  .sld5 .s0 .sub span {
    padding-left: 8px;
  }
  .sld5 .s0 .plus {
    position: absolute;
    top: 175px;
    right: 24px;
    width: 92px;
    height: 92px;
    z-index: 100;
    background-image: url('../images/6/plus.png');
    cursor: pointer;
  }


  .sld5 .s1 {
    display: none;
    background-image: url('../images/6/bg2.jpg');
  }
  .sld5 .text1 .light22 {
    margin-top: 16px;
  }
  .sld5 .s1 .head {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 217px;
    left: 48px;
    width: 928px;
    height: 70px;
  }
  .sld5 .s1 .head .ttl {
    position: relative;
    text-align: center;
    width: 454px;
  }
  .sld5 .s1 .head .ttl .subttl {
    margin-top: 28px;
  }
  .sld5 .s1 .head .ttl .plus {
    position: absolute;
    top: -17px;
    right: 0;
    width: 52px;
    height: 52px;
    background-image: url('../images/6/sm-plus.png');
    cursor: pointer;
  }
  .sld5 .s1 .good {
    position: absolute;
    top: 321px;
    height: 444px;
  }
  .sld5 .s1 .good-1 {
    left: 113px;
    width: 380px;
  }
  .sld5 .s1 .good-2 {
    left: 604px;
    width: 265px;
  }
  .sld5 .s1 .good .img {
    position: absolute;
    bottom: 0;
  }
  .sld5 .s1 .good-1 .img {
    width: 151px;
    height: 401px;
    background-image: url('../images/6/bottle-fluid.png');
  }
  .sld5 .s1 .good-2 .img {
    width: 130px;
    height: 444px;
    background-image: url('../images/6/bottle-3d.png');
  }
  .sld5 .s1 .good .list {
    position: absolute;
    top: 55px;
    right: 0;
    transform: translateX(-100px);
    opacity: 0;
  }
  .sld5 .s1 .good .list li {
    position: relative;
    margin-bottom: 26px;
  }
  .sld5 .s1 .good .list li .tick,
  .sld5 .s1-1 .good-item .list li .tick,
  .sld5 .s1-2 .good-item .list li .tick {
    position: absolute;
    top: 0;
    left: -30px;
    width: 25px;
    height: 24px;
    background-image: url('../images/6/tick.png');
  }
  .sld5 .s1 .good .list-anim {
    transform: translateX(0);
    opacity: 1;
    transition: 1.5s;
  }
  .sld5 .s1 .good .type {
    position: absolute;
    bottom: 70px;
    white-space: nowrap;
  }
  .sld5 .s1 .good-1 .type {
    left: 206px;
  }
  .sld5 .s1 .good-2 .type {
    left: 190px;
  }
  .sld5 .s1 .x,
  .sld5 .s1-1 .x,
  .sld5 .s1-2 .x {
    position: absolute;
    top: 107px;
    right: 44px;
    width: 63px;
    height: 64px;
    background-image: url('../images/6/x.png');
  }


  .sld5 .s1-1 {
    display: none;
    background-image: url('../images/6/bg3.jpg');
  }
  .sld5 .s1-1 .good-item {
    position: absolute;
    left: 167px;
    top: 221px;
    width: 623px;
    height: 401px;
  }
  .sld5 .s1-1 .good-item .img {
    width: 175px;
    height: 541px;
    background-image: url('../images/6/bottle-fluid-l.png');
    animation-duration: 1.5s;
  }
  .sld5 .s1-1 .good-item .list {
    position: absolute;
    right: 0;
    top: 26px;
    width: 379px;
    transform: translateX(-100px);
    opacity: 0;
  }
  .sld5 .s1-1 .good-item .list li {
    position: relative;
    margin-bottom: 28px;
  }
  .sld5 .s1-1 .good-item .list li .tick {
    left: -40px;
  }
  .sld5 .s1-1 .good-item .list-anim {
    transform: translateX(0);
    opacity: 1;
    transition: 1.5s;
  }
  .sld5 .s1-1 .result,
  .sld5 .s1-2 .result {
    position: absolute;
    left: 48px;
    top: 665px;
    width: 334px;
    height: 56px;
  }
  .sld5 .s1-1 .result .txt,
  .sld5 .s1-2 .result .txt {
    position: absolute;
    top: 17px;
    right: 0;
    text-align: right;
    letter-spacing: 0.06em;
  }
  .sld5 .s1-1 .result .plus,
  .sld5 .s1-2 .result .plus {
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    height: 52px;
    background-image: url('../images/6/sm-plus.png');
    cursor: pointer;
  }
  .sld5 .s1-1 .popup {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-image: url('../images/6/popup1.png');
  }
  .sld5 .s1-1 .popup .head {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 225px;
    top: 174px;
    width: 593px;
  }
  .sld5 .s1-1 .popup .p-x {
    position: absolute;
    top: -22px;
    right: -139px;
    width: 63px;
    height: 64px;
    background-image: url('../images/6/x.png');
    cursor: pointer;
  }


  .sld5 .s1-2 {
    display: none;
    background-image: url('../images/6/bg4.jpg');
  }
  .sld5 .s1-2 .good-item {
    position: absolute;
    left: 160px;
    top: 187px;
    width: 623px;
    height: 571px;
  }
  .sld5 .s1-2 .good-item .img {
    width: 144px;
    height: 571px;
    background-image: url('../images/6/bottle-3d-l.png');
    animation-duration: 1.5s;
  }
  .sld5 .s1-2 .good-item .list {
    position: absolute;
    right: 0;
    top: 29px;
    width: 379px;
    transform: translateX(-100px);
    opacity: 0;
  }
  .sld5 .s1-2 .good-item .list li {
    position: relative;
    margin-bottom: 29px;
    white-space: nowrap;
  }
  .sld5 .s1-2 .good-item .list li .tick {
    left: -40px;
  }
  .sld5 .s1-2 .good-item .list li .plus-relief {
    position: absolute;
    top: -12px;
    right: -15px;
    width: 52px;
    height: 52px;
    background-image: url('../images/6/sm-plus.png');
    cursor: pointer;
  }
  .sld5 .s1-2 .good-item .list-anim {
    transform: translateX(0);
    opacity: 1;
    transition: 1.5s;
  }

  .sld5 .s1-2 .popup-1,
  .sld5 .s1-2 .popup-2 {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    
  }
  .sld5 .s1-2 .popup-1 {
    background-image: url('../images/6/popup2.png');
  }
  .sld5 .s1-2 .popup-2 {
    background-image: url('../images/6/popup3.png');
  }
  .sld5 .s1-2 .popup-1 .ttl {
    position: absolute;
    left: 486px;
    top: 174px;
  }
  .sld5 .s1-2 .popup-1 .p-x,
  .sld5 .s1-2 .popup-2 .p-x {
    position: absolute;
    top: 150px;
    right: 65px;
    width: 63px;
    height: 64px;
    background-image: url('../images/6/x.png');
    cursor: pointer;
  }
  .sld5 .s1-2 .popup-2 .p-title {
    position: absolute;
    left: 267px;
    top: 158px;
    letter-spacing: 0.07em;
  }
  .sld5 .s1-2 .popup-2 .head {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 129px;
    top: 192px;
    width: 748px;
  }
  .sld5 .s1-2 .popup-2 .head .ttl {
    text-align: center;
  }
  .sld5 .s1-2 .popup-2 .foot {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 600px;
    font-size: 14px;
  }
  .sld5 .s1-2 .popup-2 .foot-1 {
    left: 89px;
    width: 362px;
  }
  .sld5 .s1-2 .popup-2 .foot-2 {
    left: 575px;
    width: 367px;
  }


  .sld7 .s0 {
    background-image: url('../images/7/bg.jpg');
  }
  .sld7 .s0 .block {
    position: absolute;
  }
  .sld7 .s0 .block .title {
    position: absolute;
    top: 0;
    font-size: 15px;
    font-family: "Gilroy ExtraBold";
    color: #565656;
    letter-spacing: 0.11em;
    text-align: center;
    white-space: nowrap;
  }
  .sld7 .s0 .block .subtitle {
    position: absolute;
    bottom: 0;
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
  }
  .sld7 .s0 .block-1 {
    left: 95px;
    top: 325px;
    width: 370px;
    height: 64px;
  }
  .sld7 .s0 .block-1 .title {
    left: 77px;
  }
  .sld7 .s0 .block-1 .subtitle-1 {
    left: 0;
  }
  .sld7 .s0 .block-1 .subtitle-2 {
    right: 0;
  }

  .sld7 .s0 .block-2 {
    left: 65px;
    top: 596px;
    width: 185px;
    height: 60px;
  }
  .sld7 .s0 .block-2 .title {
    left: 0;
  }
  .sld7 .s0 .block-2 .subtitle {
    left: 14px;
  }

  .sld7 .s0 .block-3 {
    left: 303px;
    top: 596px;
    width: 153px;
    height: 77px;
  }
  .sld7 .s0 .block-3 .title {
    left: 3px;
  }
  .sld7 .s0 .block-3 .subtitle {
    left: 0;
  }

  .sld7 .s0 .block-4 {
    left: 522px;
    top: 325px;
    width: 217px;
    height: 81px;
  }
  .sld7 .s0 .block-4 .title {
    left: 45px;
  }
  .sld7 .s0 .block-4 .subtitle {
    left: 0;
  }

  .sld7 .s0 .block-5 {
    left: 762px;
    top: 325px;
    width: 209px;
    height: 81px;
  }
  .sld7 .s0 .block-5 .title {
    left: 0;
  }
  .sld7 .s0 .block-5 .subtitle {
    left: 5px;
  }

  .sld7 .s0 .block-6 {
    left: 512px;
    top: 596px;
    width: 160px;
    height: 95px;
  }
  .sld7 .s0 .block-6 .title {
    left: 27px;
  }
  .sld7 .s0 .block-6 .subtitle {
    left: 0;
  }

  .sld7 .s0 .block-7 {
    left: 699px;
    top: 596px;
    width: 106px;
    height: 77px;
  }
  .sld7 .s0 .block-7 .title {
    left: 15px;
  }
  .sld7 .s0 .block-7 .subtitle {
    left: 0;
  }

  .sld7 .s0 .block-8 {
    left: 846px;
    top: 596px;
    width: 128px;
    height: 77px;
  }
  .sld7 .s0 .block-8 .title {
    left: 17px;
  }
  .sld7 .s0 .block-8 .subtitle {
    left: 0;
  }
